In [3]:
import os

import pandas as pd
import numpy as np

import xlrd
import glob


import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

data_dir = '../../data/deadline_study/'

In [4]:
physiological_df = pd.read_csv(data_dir + 'Physiological Data.csv')
questionnaire_df = pd.read_csv(data_dir + 'Questionnaire Data.csv')
biographic_df = pd.read_csv(data_dir + 'Biographic Data.csv')
rb_mean_df = pd.read_csv(data_dir + 'RB Mean Data.csv')

/Users/shailazaman/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (19,20,23,24,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
print(physiological_df.columns)

Index(['Participant_ID', 'Day', 'Treatment', 'Timestamp', 'Sinterface_Time',
       'TreatmentTime', 'Raw_PP', 'PP', 'Trans_PP', 'Raw_E4_EDA', 'E4_EDA',
       'Trans_E4_EDA', 'Raw_E4_HR', 'E4_HR', 'Trans_E4_HR', 'Raw_iWatch_HR',
       'iWatch_HR', 'Trans_iWatch_HR', 'Activity_One', 'Activity_Two',
       'Activity_Three', 'Reduced_Activities_QC1', 'Reduced_Activity_One',
       'Reduced_Activity_Two', 'Reduced_Activity_Three', 'Segments_Activity',
       'Reduced_Application', 'Reduced_Application_final', 'Mask'],
      dtype='object')

In [6]:
print(physiological_df.shape)
physiological_df = physiological_df[['Participant_ID', 
                                     'Day',
                                     'Treatment',
                                     'TreatmentTime',
                                     'PP', 
#                                      'BR', #??? 
                                     'iWatch_HR'
                                    ]]

print(physiological_df.shape)
print(physiological_df.columns)

(619975, 29)
(619975, 6)
Index(['Participant_ID', 'Day', 'Treatment', 'TreatmentTime', 'PP',
       'iWatch_HR'],
      dtype='object')

In [7]:
physiological_df.tail()

       Participant_ID   Day Treatment  TreatmentTime        PP  iWatch_HR
619970           T019  Day4        WS          13082  0.030295        NaN
619971           T019  Day4        WS          13083  0.029643        NaN
619972           T019  Day4        WS          13084  0.029193        NaN
619973           T019  Day4        WS          13085  0.028934        NaN
619974           T019  Day4        WS          13086  0.028823  71.823861

In [8]:
col_names = {
    'Participant_ID': 'Subject',
    'PP': 'Perinasal',
    'iWatch_HR': 'Heart',
#     'BR': 'Breathing'
}
  
physiological_df.rename(columns = col_names, inplace=True)
physiological_df.columns

Index(['Subject', 'Day', 'Treatment', 'TreatmentTime', 'Perinasal', 'Heart'], dtype='object')

### Parallel Study - Renaming Treatment

In [9]:
physiological_df['Treatment'] = physiological_df['Day'] + '_' + physiological_df['Treatment']
physiological_df.Treatment.unique()

array(['Day1_RB', 'Day1_WS', 'Day2_RB', 'Day2_WS', 'Day3_RB', 'Day3_WS',
       'Day4_RB', 'Day4_WS'], dtype=object)

In [10]:
physiological_df.shape

(619975, 6)

In [11]:
physiological_df.isnull().sum()

Subject               0
Day                   0
Treatment             0
TreatmentTime         0
Perinasal        333467
Heart            519733
dtype: int64

In [12]:
# physiological_df.Subject.unique()

In [13]:
print(questionnaire_df.shape)
print(questionnaire_df.columns)

(40, 10)
Index(['Participant_ID', 'Day', 'N_MD', 'N_PD', 'N_TD', 'N_P', 'N_E', 'N_F',
       'SA_B', 'SA_E'],
      dtype='object')

In [14]:
print(questionnaire_df.shape)
questionnaire_df = questionnaire_df[['Participant_ID',
                                     'Day',
                                     
                                     'N_MD', 
                                     'N_PD', 
                                     'N_TD', 
                                     'N_P', 
                                     'N_E', 
                                     'N_F'
                                     
                                     # 'Mental', 
                                     # 'Physical', 
                                     # 'Temporal', 
                                     # 'Performance',
                                     # 'Effort', 
                                     # 'Frustration'
                                    
                                    ]]

print(questionnaire_df.shape)
print(questionnaire_df.columns)

(40, 10)
(40, 8)
Index(['Participant_ID', 'Day', 'N_MD', 'N_PD', 'N_TD', 'N_P', 'N_E', 'N_F'], dtype='object')

In [15]:
col_names = {
    'Participant_ID': 'Subject',
    
    'N_MD': 'Mental Demand', 
    'N_PD': 'Physical Demand', 
    'N_TD': 'Temporal Demand', 
    'N_P': 'Performance', 
    'N_E': 'Effort', 
    'N_F': 'Frustration'
    
    # 'Mental':  'Mental Demand', 
    # 'Physical':  'Physical Demand', 
    # 'Temporal':  'Temporal Demand',
    # 'Performance': 'Performance', 
    # 'Effort': 'Effort', 
    # 'Frustration': 'Frustration'
}
  
questionnaire_df.rename(columns = col_names, inplace=True)
questionnaire_df.columns

Index(['Subject', 'Day', 'Mental Demand', 'Physical Demand', 'Temporal Demand',
       'Performance', 'Effort', 'Frustration'],
      dtype='object')

In [16]:
questionnaire_df.isnull().sum()

Subject            0
Day                0
Mental Demand      0
Physical Demand    0
Temporal Demand    0
Performance        0
Effort             0
Frustration        0
dtype: int64

In [17]:
print(questionnaire_df.shape)
questionnaire_df.dropna(inplace=True)
print(questionnaire_df.shape)

(40, 8)
(40, 8)

In [18]:
questionnaire_df.head()

,Subject,Day,Mental Demand,Physical Demand,Temporal Demand,Performance,Effort,Frustration
0,T001,Day1,11,1,4,6,8,2
1,T001,Day2,10,3,4,7,8,1
2,T001,Day3,1,1,1,10,2,1
3,T001,Day4,7,3,4,8,7,5
4,T003,Day1,18,15,18,12,18,17

In [19]:
nasal_cols = ['Mental Demand', 'Physical Demand', 'Temporal Demand', 'Performance', 'Effort', 'Frustration']

questionnaire_df[nasal_cols] = questionnaire_df[nasal_cols].applymap(np.int64)
questionnaire_df.head()

,Subject,Day,Mental Demand,Physical Demand,Temporal Demand,Performance,Effort,Frustration
0,T001,Day1,11,1,4,6,8,2
1,T001,Day2,10,3,4,7,8,1
2,T001,Day3,1,1,1,10,2,1
3,T001,Day4,7,3,4,8,7,5
4,T003,Day1,18,15,18,12,18,17

In [20]:
#----- Summation - Nasa -----#
nasa_cols = ['Effort', 'Frustration', 'Mental Demand', 'Performance', 'Physical Demand', 'Temporal Demand']
# final_df[nasa_cols] = final_df[nasa_cols].apply(pd.to_numeric) # Without converting, it was giving NAN summation for some cases
questionnaire_df['NASA Total Sum'] = questionnaire_df[nasa_cols].sum(axis=1)
questionnaire_df.head()

,Subject,Day,Mental Demand,Physical Demand,Temporal Demand,Performance,Effort,Frustration,NASA Total Sum
0,T001,Day1,11,1,4,6,8,2,32
1,T001,Day2,10,3,4,7,8,1,33
2,T001,Day3,1,1,1,10,2,1,16
3,T001,Day4,7,3,4,8,7,5,34
4,T003,Day1,18,15,18,12,18,17,98

In [21]:
biographic_df.head()

  Subject_ID  Gender   Age
0       T001    Male  44.0
1       T003  Female   NaN
2       T005    Male  35.0
3       T007  Female  30.0
4       T009    Male  29.0

In [22]:
print(biographic_df.shape)
biographic_df.dropna(inplace=True)
print(biographic_df.shape)

(10, 3)
(9, 3)

In [23]:
biographic_df.rename(columns = {'Subject_ID': 'Subject'}, inplace=True)
biographic_df.columns

Index(['Subject', 'Gender', 'Age'], dtype='object')

In [24]:
# biographic_df['Gender'].replace({'Male': 0, 'Female': 1}, inplace=True)
# biographic_df.head()

In [25]:
# biographic_df.Subject.unique()

In [26]:
final_df = physiological_df.merge(questionnaire_df, on=['Subject', 'Day'], how='left')

print(len(final_df.Subject.unique()))
print(final_df.shape)
final_df.drop_duplicates(inplace = True)
print(final_df.shape)


final_df = final_df.merge(biographic_df, on=['Subject'], how='left')
print(len(final_df.Subject.unique()))
print(final_df.shape)
final_df.drop_duplicates(inplace = True)
print(final_df.shape)

10
(619975, 13)
(619975, 13)
10
(619975, 15)
(619975, 15)

In [27]:
final_df.shape

(619975, 15)

In [28]:
final_df.isnull().sum()

Subject                 0
Day                     0
Treatment               0
TreatmentTime           0
Perinasal          333467
Heart              519733
Mental Demand           0
Physical Demand         0
Temporal Demand         0
Performance             0
Effort                  0
Frustration             0
NASA Total Sum          0
Gender              52999
Age                 52999
dtype: int64

In [29]:
final_df['Heart_ffill'] = final_df['Heart'].fillna(method='ffill')

for col in ['Heart']:
    final_df[col+'_interpolate_poly'] = final_df[col].interpolate(method='polynomial', order=1)
    final_df[col+'_interpolate'] = final_df[col].interpolate()
    
final_df.drop('Heart', axis=1, inplace=True)

In [30]:
final_df.isnull().sum()

Subject                        0
Day                            0
Treatment                      0
TreatmentTime                  0
Perinasal                 333467
Mental Demand                  0
Physical Demand                0
Temporal Demand                0
Performance                    0
Effort                         0
Frustration                    0
NASA Total Sum                 0
Gender                     52999
Age                        52999
Heart_ffill                56098
Heart_interpolate_poly     56098
Heart_interpolate          56098
dtype: int64

In [31]:
pp_null_df = final_df.Perinasal.isnull().groupby(final_df.Subject).sum().astype(int).reset_index(name='count')
print(pp_null_df)

  Subject  count
0    T001  40527
1    T003  12263
2    T005  45461
3    T007  23785
4    T009  36806
5    T011  39848
6    T013  27818
7    T015  41569
8    T017  43779
9    T019  21611

In [32]:
print(final_df.shape)
final_df.dropna(inplace=True)
print(final_df.shape)

(619975, 17)
(230202, 17)

In [33]:
final_df.Subject.unique()

array(['T005', 'T007', 'T009', 'T011', 'T013', 'T015', 'T017', 'T019'],
      dtype=object)

In [34]:
final_df.head()

,Subject,Day,Treatment,TreatmentTime,Perinasal,Mental Demand,Physical Demand,Temporal Demand,Performance,Effort,Frustration,NASA Total Sum,Gender,Age,Heart_ffill,Heart_interpolate_poly,Heart_interpolate
109096,T005,Day1,Day1_RB,0,0.003285,14,5,12,12,15,5,63,Male,35.0,71.171804,64.378670,64.378670
109097,T005,Day1,Day1_RB,1,0.003266,14,5,12,12,15,5,63,Male,35.0,71.171804,64.378149,64.378149
109098,T005,Day1,Day1_RB,2,0.002841,14,5,12,12,15,5,63,Male,35.0,71.171804,64.377627,64.377627
109099,T005,Day1,Day1_RB,3,0.002557,14,5,12,12,15,5,63,Male,35.0,71.171804,64.377106,64.377106
109100,T005,Day1,Day1_RB,4,0.002518,14,5,12,12,15,5,63,Male,35.0,71.171804,64.376585,64.376585

In [35]:
rb_mean_df.columns

Index(['Participant_ID', 'Treatment', 'Signal', 'Day1', 'Day2', 'Day3', 'Day4',
       'Day3_Day4_Mean', 'Day3_Day4_Min', 'Four_Day_Min', 'Four_Day_Mean',
       'Day1_Normalize', 'Day2_Normalize'],
      dtype='object')

In [36]:
rb_mean_df.head()

,Participant_ID,Treatment,Signal,Day1,Day2,Day3,Day4,Day3_Day4_Mean,Day3_Day4_Min,Four_Day_Min,Four_Day_Mean,Day1_Normalize,Day2_Normalize
0,T001,RB,E4_EDA,-2.412245,-1.567338,-1.162796,-1.676802,-1.419799,-1.676802,-2.412245,-1.704795,-0.992446,-0.147539
1,T001,RB,E4_HR,4.437448,4.567275,4.515523,4.521744,4.518634,4.515523,4.437448,4.510498,-0.081186,0.048642
2,T001,RB,iWatch_HR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T001,RB,PP,-5.526786,-5.772137,-5.578108,-5.532394,-5.555251,-5.578108,-5.772137,-5.602357,0.028465,-0.216886
4,T001,WS,E4_EDA,-1.912728,-1.702012,-1.040432,-1.365789,-1.203110,-1.365789,-1.912728,-1.505240,-0.709617,-0.498901

In [37]:
rb_mean_df = rb_mean_df[(rb_mean_df.Treatment.isin(['RB'])) & (rb_mean_df.Signal.isin(['iWatch_HR', 'PP']))]
rb_mean_df = rb_mean_df[['Participant_ID', 'Signal', 'Day1', 'Day2', 'Day3', 'Day4', 'Four_Day_Min', 'Four_Day_Mean', 'Day3_Day4_Mean', 'Day3_Day4_Min']]
rb_mean_df.head()

,Participant_ID,Signal,Day1,Day2,Day3,Day4,Four_Day_Min,Four_Day_Mean,Day3_Day4_Mean,Day3_Day4_Min
2,T001,iWatch_HR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T001,PP,-5.526786,-5.772137,-5.578108,-5.532394,-5.772137,-5.602357,-5.555251,-5.578108
10,T003,iWatch_HR,4.277996,4.388172,4.200830,NaN,4.200830,4.288999,4.200830,4.200830
11,T003,PP,-5.469680,-5.384378,-5.513176,-5.576488,-5.576488,-5.485930,-5.544832,-5.576488
18,T005,iWatch_HR,NaN,4.353730,4.356851,4.474037,4.353730,4.394873,4.415444,4.356851

In [38]:
# rb_col = 'Four_Day_Mean'   # 'Day3_Day4_Mean', 'Day3_Day4_Min', 'Four_Day_Min', 'Four_Day_Mean'

# col_names = {
#     'Participant_ID': 'Subject',
#     'PP': 'Perinasal_RB',
#     'iWatch_HR': 'Heart_RB',
# #     'BR': 'Breathing_RB_Mean'
# }



# rb_mean_long_df = rb_mean_df.copy().pivot(['Participant_ID'], columns='Signal', values=rb_col).reset_index().rename_axis(None, axis=1)
# rb_mean_long_df['Heart_RB'] = np.exp(rb_mean_long_df['iWatch_HR'])
# rb_mean_long_df.rename(columns = col_names, inplace=True)
# rb_mean_long_df.dropna(inplace=True)
# # rb_mean_long_df['Perinasal_RB_Log'] = np.log(rb_mean_long_df['Perinasal_RB'])
# # rb_mean_long_df.drop('Perinasal_RB', axis=1, inplace=True)
# rb_mean_long_df.drop('Heart_Log_RB', axis=1, inplace=True)
# rb_mean_long_df.head()

In [39]:
final_rd_df = pd.DataFrame()

for rb_col in ['Day1', 'Day2', 'Day3', 'Day4', 'Day3_Day4_Mean', 'Day3_Day4_Min', 'Four_Day_Min', 'Four_Day_Mean']:
    rb_mean_long_df = rb_mean_df.copy().pivot(['Participant_ID'], columns='Signal', values=rb_col).reset_index().rename_axis(None, axis=1)
    rb_mean_long_df['HR_RB_Mean'] = np.exp(rb_mean_long_df['iWatch_HR'])
    rb_mean_long_df['Breathing_RB'] = 0 
    rb_mean_long_df['Treatment'] = rb_col if rb_col not in ['Day1', 'Day2', 'Day3', 'Day4'] else 'Corresponding_Day_RB'
    
    final_rd_df = final_rd_df.append(rb_mean_long_df)
   
    
final_rd_df.rename(columns={
    'Participant_ID': 'Subject',
    'PP': 'PP_RB_Mean',
    'Breathing_RB': 'BR_RB_Mean',
}, inplace=True)


final_rd_df.dropna(inplace=True)
final_rd_df['Subject_Txx'] = final_rd_df['Subject'] 
final_rd_df['Subject'] = final_rd_df.apply(lambda row : int(row['Subject'][1:]), axis = 1)


final_rd_df
final_rd_df.to_csv(data_dir + 'rb_data.csv', sep=',')

In [40]:
# 'Day3_Day4_Mean', 'Day3_Day4_Min', 'Four_Day_Min', 'Four_Day_Mean', Corresponding_Day_RB
final_rd_long_df = final_rd_df[final_rd_df.Treatment=='Four_Day_Mean']
final_rd_long_df['Subject'] = final_rd_long_df['Subject_Txx']

final_rd_long_df.drop('Treatment', axis=1, inplace=True)
final_rd_long_df

/Users/shailazaman/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/shailazaman/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Subject  PP_RB_Mean  iWatch_HR  HR_RB_Mean  BR_RB_Mean Subject_Txx
1    T003   -5.485930   4.288999   72.893475           0        T003
2    T005   -5.847930   4.394873   81.034325           0        T005
3    T007   -5.844810   4.336591   76.446463           0        T007
4    T009   -5.817429   4.465042   86.924688           0        T009
5    T011   -5.809303   4.172162   64.855539           0        T011
6    T013   -5.600590   4.290896   73.031872           0        T013
7    T015   -5.437464   4.431051   84.019697           0        T015
8    T017   -5.634446   4.364426   78.604242           0        T017
9    T019   -4.687683   4.174871   65.031467           0        T019

In [41]:
final_df = final_df.merge(final_rd_long_df, on=['Subject'], how='left')

print(len(final_df.Subject.unique()))
print(final_df.shape)
final_df.drop_duplicates(inplace = True)
print(final_df.shape)

8
(230202, 22)
(230202, 22)

In [42]:
final_df.head()

,Subject,Day,Treatment,TreatmentTime,Perinasal,Mental Demand,Physical Demand,Temporal Demand,Performance,Effort,...,Gender,Age,Heart_ffill,Heart_interpolate_poly,Heart_interpolate,PP_RB_Mean,iWatch_HR,HR_RB_Mean,BR_RB_Mean,Subject_Txx
0,T005,Day1,Day1_RB,0,0.003285,14,5,12,12,15,...,Male,35.0,71.171804,64.378670,64.378670,-5.84793,4.394873,81.034325,0,T005
1,T005,Day1,Day1_RB,1,0.003266,14,5,12,12,15,...,Male,35.0,71.171804,64.378149,64.378149,-5.84793,4.394873,81.034325,0,T005
2,T005,Day1,Day1_RB,2,0.002841,14,5,12,12,15,...,Male,35.0,71.171804,64.377627,64.377627,-5.84793,4.394873,81.034325,0,T005
3,T005,Day1,Day1_RB,3,0.002557,14,5,12,12,15,...,Male,35.0,71.171804,64.377106,64.377106,-5.84793,4.394873,81.034325,0,T005
4,T005,Day1,Day1_RB,4,0.002518,14,5,12,12,15,...,Male,35.0,71.171804,64.376585,64.376585,-5.84793,4.394873,81.034325,0,T005

In [43]:
final_df['Subject'] = final_df.apply(lambda row : int(row['Subject'][1:]), axis = 1)
final_df.head()

,Subject,Day,Treatment,TreatmentTime,Perinasal,Mental Demand,Physical Demand,Temporal Demand,Performance,Effort,...,Gender,Age,Heart_ffill,Heart_interpolate_poly,Heart_interpolate,PP_RB_Mean,iWatch_HR,HR_RB_Mean,BR_RB_Mean,Subject_Txx
0,5,Day1,Day1_RB,0,0.003285,14,5,12,12,15,...,Male,35.0,71.171804,64.378670,64.378670,-5.84793,4.394873,81.034325,0,T005
1,5,Day1,Day1_RB,1,0.003266,14,5,12,12,15,...,Male,35.0,71.171804,64.378149,64.378149,-5.84793,4.394873,81.034325,0,T005
2,5,Day1,Day1_RB,2,0.002841,14,5,12,12,15,...,Male,35.0,71.171804,64.377627,64.377627,-5.84793,4.394873,81.034325,0,T005
3,5,Day1,Day1_RB,3,0.002557,14,5,12,12,15,...,Male,35.0,71.171804,64.377106,64.377106,-5.84793,4.394873,81.034325,0,T005
4,5,Day1,Day1_RB,4,0.002518,14,5,12,12,15,...,Male,35.0,71.171804,64.376585,64.376585,-5.84793,4.394873,81.034325,0,T005

In [44]:
final_df.Subject.unique()

array([ 5,  7,  9, 11, 13, 15, 17, 19])

In [45]:
final_df.Treatment.unique()

array(['Day1_RB', 'Day1_WS', 'Day2_RB', 'Day2_WS', 'Day3_RB', 'Day3_WS',
       'Day4_RB', 'Day4_WS'], dtype=object)

In [46]:
final_df.rename(columns={
    'PP_RB_Mean': 'Perinasal_RB_Log',
    'HR_RB_Mean': 'Heart_RB',
    'BR_RB_Mean': 'Breathing_RB',
}, inplace=True)

In [47]:
# This is the final export
# The feature_eng file will read this dataset and proceed next
final_df.to_csv(data_dir + 'data_1.csv', sep=',', index=False)
final_df.to_csv(data_dir + 'data_2.csv', sep=',', index=False)